// general
$color-white: #ffffff;

// guildmate colors
$gm-gray: #4A545B;
$gm-gray-light: #5b666d;
$gm-gray-lighter: #D2D2D2;
$gm-green:#10B808;

// panels
$gm-panel-menu-color: #aaaaaa;
$gm-panel-menu-color-hover: #5B666D;
$gm-panel-border-color: #CCCCCC;

// menu
$gm-menu-background-color: #5B666D;
$gm-menu-item-hover-color: #5f6b72;
