// general
$color-white: #ffffff;

// scribble colors
$scrib-gray: #4A545B;
$scrib-gray-light: #5b666d;

// panels
$scrib-panel-menu-color: #aaaaaa;
$scrib-panel-menu-color-hover: #5B666D;
$scrib-panel-border-color: #CCCCCC;

// menu
$scrib-menu-background-color: #5B666D;
$scrib-menu-item-hover-color: #5f6b72;